page-login {
}

.grad {
  background: linear-gradient(to bottom right, 	#6FC69A, #334F9B); /* Standard syntax */
}

.transparent{
  background-color: transparent;
}

#logo{
  zoom: 50%;
}

.center{
    margin:auto;
    text-align: center;
}

.max{
  max-width: 300px;
}
